html, body {
  height: 100%;
} 

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vw;
  text-align: center;
  padding: 1em;
  background: linear-gradient(197deg, #fbfbfb, #a10707 100%);
}

h3 {
  font-size: 20px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 20px;
  font-style: italic;
}

.score {
  display: flex;
  align-items: center;
}

.score-count {
  color: green;
  font-size: 2em;
  font-weight: bold;
  margin-left: 0.2em;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 345px;
  top: 50px;
  width: 55%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #ff4545;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  background: linear-gradient(137deg, #fbfbfb, #a10707 100%);
}

.modal-content p {
  padding: 20px;
}

.modal-content button {
  display: grid;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-items: flex-end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.correct {
  display: none;
  padding: 2px 16px;
  background-color: #5cb85c;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.incorrect {
  display: none;
  padding: 2px 16px;
  background-color: #f51e1e;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}